<!DOCTYPE html>
    {% autoescape true %}
    <html>
        <body>
            <font size="14"><b>{{albums[0].artist}} - {{albums[0].title}}</b></font></br>
            <b>Average Album Rating: {{average}}</b></br></br>
            <b>Song list:</b></br></br>
            {% for song in songs %}
                {{song.songArtist}} - {{song.songTitle}} </br>
            {% endfor %}
            </br>
            <a href=/addSong/{{ albums[0].key().id() }}/>Add a song to this album</a></br>
            </br>
            {% for album in albums %}
                Rating: <b> {{album.rating}}</b></br>
                Time Entered: <b> {{album.date.strftime("%Y-%m-%d %H:%M" )}} </b> </br>
                Review:</br>
                {{album.content}}
                </br></br>
                
            {% endfor %}
            
            </br>
            <a href=/addNewAlbum/{{ albums[0].key().id() }}/>Write a New Review</a></br>
            <a href="/home">Home</a> | <a href="/allAlbums">Album List</a>
        </body>
    </html>
    {% endautoescape %}